@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-iranSans: sans-serif;
}

.font-sans {
  font-family: var(--font-iranSans), Arial, sans-serif;
}
/* globals.css */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-container > * {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
}

.animation-container > *:nth-child(1) {
  animation-delay: 0s;
}
.animation-container > *:nth-child(2) {
  animation-delay: 0.2s;
}
.animation-container > *:nth-child(3) {
  animation-delay: 0.4s;
}

.animation-container > *:nth-child(4) {
  animation-delay: 0.6s;
}
.animation-container > *:nth-child(5) {
  animation-delay: 0.8s;
}

.animation-container > *:nth-child(6) {
  animation-delay: 1s;
}
.image-animation {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 1.2s;
}

.button-animation {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 1.4s;
}
